<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje del formulario de contacto</title>

  <style>
    .contact-msg {
      white-space: pre-line;
    }
  </style>
</head>
<body>
  <h2 class="contact-title">Nuevo mensaje de {{name}}</h2>
  <p class="contact-msg">{{message}}</p>
  <p class="contact-msg">Correo de {{name}}: {{email}}</p>
  <p class="contact-msg">Teléfono de {{name}}: {{phone}}</p>
</body>
</html>