<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interés en el curso de asesor de Seguros</title>

  <style>
    .contact-msg {
      white-space: pre-line;
    }
  </style>
</head>
<body>
  <h2 class="contact-title">Nueva persona interesada en el entrenamiento de asesores de Seguros</h2>
  <p class="contact-msg">Nombre y apellido: {{name}}</p>
  <p class="contact-msg">Correo de {{name}}: {{email}}</p>
  <p class="contact-msg">Ciudad de {{name}}: {{city}}</p>
</body>
</html>